* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*classi*/
.container {
    display: flex;
    flex-direction: column;
    /* Centra orizzontalmente */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    height: 100vh;
}

.h1 {
    margin: 30px;
}